<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div data-ng-include="'app/layout/navheader.html'"></div>
        <!-- Top Menu Items -->
        <div data-ng-include="'app/layout/topmenu.html'"></div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div data-ng-include="'app/layout/sidebar.html'"></div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <tabset>
            <tab heading="Production Dashboard">
                <div data-ng-include="'app/production/production.html'"></div>
            </tab>
            <tab heading="Drilling Dashboard">
                <div data-ng-include="'app/drilling/drilling.html'"></div>
            </tab>
        </tabset>

    </div>
    <!-- /#page-wrapper -->

</div>
