<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <button class="btn btn-default" ng-click="vm.openWellChooser()">Choose Well</button>
        </li>
    </ul>
</div>
