
    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> {{title}}</h3>
            </div>
            <div class="panel-body">
                <div class="flot-chart" style="height:600px;">
                    <div class="flot-chart-content" id="flot-line-chart" ></div>
                </div>
                <div><small><i>Last updated: {{ lastUpdated }}</i></small></div>
            </div>
        </div>
    </div>
