﻿<div class="modal-header">
    <h3 class="modal-title">Manage Alarms</h3>
</div>
<div class="modal-body" ng-hide="isBusy">
    <div class="row" >
        <input type="button" class="btn btn-primary" value="Add New Alarm" ng-click="vm.addNewAlarmCondition()" style="margin:10px;"/>
        <div ng-repeat="ac in vm.alarmConditions" class="row" style="margin:10px;">
            <div class="col-md-4 col-sm-4">
                <select ng-model="ac.name" ng-options="an for an in availableNames" class="form-control "></select>
            </div>
            <div class="col-md-2 col-sm-2">
                <select ng-model="ac.op" ng-options="op for op in availableOperations" class="form-control"></select>
            </div>
            <div class="col-md-4 col-sm-4">
                <input type="number" ng-model="ac.limit" class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2">
                <input type="button" class="btn btn-warning" value="x" ng-click="removeCondition(ac)" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="isBusy" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
