<div class="modal-header">
    <h3 class="modal-title">Select Well: {{ selectedWell.text }}</h3>
</div>
<div class="modal-body" ng-hide="isBusy">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li ng-repeat="region in vm.regions">
                    <div>{{region.text}}</div>
                    <ul>
                        <li ng-repeat="area in region.nodes">
                            <div>{{area.text}}</div>
                            <ul>
                                <li ng-repeat="well in area.nodes" class="well-chooser-well-label" ng-class="{'well-chooser-well-label-selected': selectedWell === well}" ng-click="selectWell(well)">{{well.text}}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-8" style="height:400px">
            <div id="map-canvas" style="height:100%;"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="isBusy" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
