<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Well Drilling
				<small>{{selectedWell.text}} : {{data.Status}}</small>
			</h1>
		</div>
	</div>
	<!-- /.row -->
	<!-- Flot Charts -->
	<!-- /.row -->
	<div class="row">
		<ong-flot-plot class="col-lg-6 col-sm-6"
					   title="Surface Log Time"
					   data="data"
					   curves="ROP Avg|WOB Avg|Hookload|Block Position"
					   labelx="Time" labely="Volume(cc)" points="60">
		</ong-flot-plot>
		<ong-flot-plot class="col-lg-6 col-sm-6"
					   title="Surface Log Time"
					   data="data"
					   curves="ROP Avg|WOB Avg|Hookload|Block Position"
					   points="60">
		</ong-flot-plot>
	</div>
	<!-- /.row -->
</div>
