<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Well Production
                <small>{{selectedWell.text}} : {{data.Status}}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Flot Charts -->
    <!-- /.row -->
    <div class="row">
        <ong-flot-chart class="col-lg-6" title="Production Volume" data="data" curves="Oil_Volume_Produced|Gas_Volume_Produced|Water_Volume_Produced" labelx="Time" labely="Volume(cc)" points="60">
        </ong-flot-chart>
        <ong-flot-chart class="col-lg-6" title="Pressure Data" data="data" curves="THP|CHP|BHP|SIBHP" points="60">
        </ong-flot-chart>
    </div>
    <!-- /.row -->

    <div class="row">
        <ong-flot-chart class="col-lg-12" title="Temperature Data" data="data" curves="Surface_Temperature|BH_Temperature" points="60">
        </ong-flot-chart>
    </div>

</div>
